{{set . "title" "問題を編集 - KOJ"}}
{{template "navigation.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
    {{template "flash.html" .}}
    </div>
  </div>
</div>

<form accept-charset="UTF-8" action="/problems/{{.problem.ID}}/update" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="titleInput">タイトル:</label>
    <input name="request.Title" type="text" class="form-control" id="titleInput" minlength="1" maxlength="40"
           value="{{.problem.Title}}">
  </div>
  <div class="form-group">
    <label for="timeLimitInput">時間制限(秒):</label>
    <input name="request.TimeLimitSeconds" type="number" class="form-control" id="timeLimitInput" min="1" max="60"
           value="{{.problem.TimeLimit.Seconds}}">
  </div>
  <div class="form-group">
    <label for="memoryLimitInput">メモリ制限(MiB):</label>
    <input name="request.MemoryLimit" type="number" class="form-control" id="memoryLimitInput" min="128" max="512"
           value="{{.problem.MemoryLimit}}">
  </div>
  <div class="form-group">
    <label for="bodyTextArea">問題文:</label>
    <textarea name="request.Body" class="form-control" id="bodyTextArea" rows="15">{{.problem.Body}}</textarea>
  </div>
  <div class="form-group">
    <label for="caseArchiveInput">テストケース(*.zip, 10MiB以下):</label>
    <input type="file" name="caseArchive" class="form-control-file" id="caseArchiveInput" aria-describedby="fileHelp">
    <small class="form-text text-muted">
      各ケースファイルの名前は"input[ケースセット番号]-[ケース番号].txt"、"output[ケースセット番号]-[ケース番号].txt"としてください。ケースセット番号、ケース番号は1-indexedです。<br>
      例)input8-10.txt
    </small>
  </div>
  <button type="submit" class="btn btn-secondary">保存</button>
</form>

{{template "footer.html" .}}
