{{set . "title" "問題一覧 - KOJ"}}
{{template "navigation.html" .}}

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="span6">
    {{template "flash.html" .}}
    </div>
  </div>

  <h1 class="h1">問題</h1>
  <table class="table table-bordered table-striped table-responsive">
    <thead>
    <tr>
      <th>#</th>
      <th class="w-50">問題名</th>
      <th class="w-25 no-break">作問者</th>
      <th>実行時間制限</th>
      <th>メモリ制限</th>
    </tr>
    </thead>
    <tbody>
    {{range .problems}}
    <tr>
      <td>{{.ID}}</td>
      <td>{{.Title}}</td>
      <td>{{.Writer.DisplayName}}</td>
      <td>{{.TimeLimit}}</td>
      <td>{{.MemoryLimit}}MiB</td>
    </tr>
    {{end}}
    </tbody>
  </table>
</div>

{{template "footer.html" .}}
