@charset "utf-8";

.login-form {
    width: 350px;
    margin: 100px auto;
}

.login-form-body {
    width: 350px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
}

.login-form-label {
    display: block;
    margin-bottom: 7px;
}

.login-form-input {
    margin-bottom: 15px;
}
