<!DOCTYPE html>

<html lang="ja">
<head>
  <title>{{.title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/app.css">
  <link rel="stylesheet" type="text/css" href="/public/css/header.css">
  <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
  <script src="/public/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/public/js/tether.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
{{range .moreStyles}}
  <link rel="stylesheet" type="text/css" href="/public/{{.}}">
{{end}}
{{range .moreScripts}}
  <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
{{end}}
</head>
<body>
