{{set . "title" "コンテストを編集 - KOJ"}}
{{template "navigation.html" .}}

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="span6">
    {{template "flash.html" .}}
    </div>
  </div>

  <form accept-charset="UTF-8" action="{{url "Contest.Update" .contest.ID}}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="titleInput">タイトル</label>
      <input name="request.Title" type="text" class="form-control" id="titleInput" minlength="1" maxlength="40"
             value="{{.contest.Title}}">
    </div>

    <div class="form-group">
      <label for="startAtInput">開始日時</label>
      <input name="request.StartAt" type="datetime-local" class="form-control" id="startAtInput" value="{{.converter.DateTime .contest.StartAt}}">
    </div>

    <div class="form-group">
      <label for="endAtInput">終了日時</label>
      <input name="request.EndAt" type="datetime-local" class="form-control" id="endAtInput" value="{{.converter.DateTime .contest.EndAt}}">
    </div>

    <div class="form-group">
      <label for="writers">Writer</label>
      <label for="writers">// ここにWriterを追加するやつ</label>
    </div>

    <div class="form-group">
      <label for="descriptionTextArea">説明</label>
      <textarea name="request.Description" class="form-control" id="descriptionTextArea" rows="10">{{.contest.Description}}</textarea>
    </div>

    <button type="submit" class="btn btn-secondary">保存</button>
  </form>
</div>

{{template "footer.html" .}}
