{{set . "title" "提出 - KOJ"}}
{{template "navigation.html" .}}

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="span6">
    {{template "flash.html" .}}
    </div>
  </div>

  <form accept-charset="UTF-8" action="{{url "Submission.Submit"}}" method="post">
    <div class="form-group">
      <label>問題ID:{{.problem.ID}}</label>
    </div>

    <div class="form-group">
      <label>問題名:{{.problem.Title}}</label>
    </div>

    <input type="hidden" name="request.ProblemID" value="{{.problem.ID}}">

    <div class="form-group">
      <label for="languageSelect">言語:</label>
      <select name="request.Language" class="form-control" id="languageSelect">
      {{range .languages}}
        <option>{{.DisplayName}}</option>
      {{end}}
      </select>
    </div>

    <div class="form-group">
      <label for="sourceCodeArea">ソースコード:</label>
      <textarea name="request.SourceCode" class="form-control" id="sourceCodeArea" rows="15"></textarea>
    </div>

    <button type="submit" class="btn btn-secondary">提出</button>
  </form>
</div>

{{template "footer.html" .}}
