{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="login-form">
  <form accept-charset="UTF-8" action="/sessions/login" method="post">
    <div class="login-form-body">
      <label for="email" class="login-form-label">
        メールアドレス
      </label>
      <input id="email" class="form-control mr-sm-2 login-form-input" autofocus="autofocus" tabindex="1" type="email"
             name="email"/>
      <label for="password" class="login-form-label">
        パスワード
      </label>
      <input id="password" class="form-control mr-sm-2 login-form-input" tabindex="2" type="password" name="password"/>
      <input class="btn btn-success btn-block" tabindex="3" type="submit" value="ログイン">
    </div>
  </form>

  <div class="container">
    <div class="row">
      <div class="span6">
      {{template "flash.html" .}}
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
